<!DOCTYPE>
<html>
  <head>
    <title>Under Construction</title>
  </head>
  <body style="text-align: center;">
  	{% load static %}
    <img src="{% static "img/under-construct.jpg" %}" id="image">
    <div id="copyright-claim" style="font-size: 12px" onclick="location.href='http://www.itf.gov.ng/img/UnderConstruct.jpg'">Image is the copyright of {http://www.itf.gov.ng/img/UnderConstruct.jpg}</div>
    <button id="back-button" onclick="goback()">I want to go back</button>
  </body>

  <script type="text/javascript">
  function goback() {
    window.location.replace("/company/profile");
  }
  </script>
</html>