{% extends "app_profile/layout/base.html" %}
{% block content %}

<head>
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   86566ytexriwrs
    authorize: true
    onLoad : onLinkedInLoad
  </script>
</head>

<button class="pull-right" id="logout-button" onclick="logout()">logout</button>
<img class="pull-right" id="corp-small-image"></img>
<h3 id="welcome-message"></h3>

{% load static %}
<img src="{% static "img/buildings.png" %}" id="corp-main-image"></img>
<hr>
<button class="center-block" id="forum-list-button" onclick="toForum()">Lihat Forum</button>
<button class="center-block" id="mahasiswa-list-button" onclick="underconst()">Cari Mahasiswa</button>

<table cellspacing="15px">
  <tr>
    <td>Tipe Perusahaan</td>
    <td class="isi" id="tipe"></td>
  </tr>
  <tr>
    <td>Web Perusahaan</td>
    <td class="isi" id="web"></td>
  </tr>
  <tr>
    <td>Spesialitas</td>
    <td class="isi" id="spesialitas"></td>
  </tr>

</table>
{% endblock %}
