{% extends "app_home/layout/base.html" %}
{% block content %}
<head>

	<script>
	    // Setup an event listener to make an API call once auth is complete
	    function onLinkedInLoad() {
	    	console.log("Masuk onLinkedInLoad")
	        IN.Event.on(IN, "auth", getProfileData);
	    }

	    // Handle the successful return from the API call
	    function onSuccess(data) {
	        console.log(data);
	    }

	    // Handle an error response from the API call
	    function onError(error) {
	        console.log(error);
	    }

	    // Use the API call wrapper to request the member's basic profile data
	    function getProfileData() {
	        window.location.replace("/company/profile");
	    }


	</script>
	<script type="text/javascript" src="//platform.linkedin.com/in.js">
	    api_key:   86566ytexriwrs
	    authorize: true
	    onLoad : onLinkedInLoad
	</script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<br/>
<br/>
<br/>
<div style = " display: flex; flex-direction: column; height :100%; flex-basis : 0" id = "app_home">
	<div style = "margin-left : 10% ; margin-bottom : 15px;margin-right : 20%; display : flex" id = "welcome-text">
		<div>
			<img class = "center-block" src = "https://www.cultavo.com/assets/landing/company_icon_blue-544f6e86d8d7132fa66216a587c799ba2e66846567f3e5d702a8d11d095788a8.png" height = 220 width = 220 >
		</div>
		<div>
			<h1 style = "color : #0077B5 ; font-size : 25px"> Buka Hati</h1>
			<p> We're Hiring! </p>
			<br/>
			<p> Our availabe position : </p>
			<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  1. Web Developer </p>
			<p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  2. Mobile Developer </p>
		</div>
	</div>
	<div style = "margin-left : 30%;">
		<!-- ada yang komentar -->
		<div style = "margin-bottom : 30px; display : flex">
			<div>
				<img src = "https://cdn4.iconfinder.com/data/icons/round-buttons/512/blue_user.png" height = 100 width = 100>
			</div>
			<div style = "margin-left : 25px">
				<h1 style = "color : #0077B5 ; font-size : 15px"> Bintang </h1>
				<p style = "font-size : 12px"> Pak itu digaji nggak </p>
			</div>
		</div>
		<!-- reply nya -->
		
		<div style = "margin-bottom : 30px; display : flex">
			<div>
				<img src = "https://www.cultavo.com/assets/landing/company_icon_blue-544f6e86d8d7132fa66216a587c799ba2e66846567f3e5d702a8d11d095788a8.png" height = 115 width = 115 >
			</div>
			<div style = "margin-left : 25px">
				<h1 style = "color : #0077B5 ; font-size : 15px"> Buka Hati </h1>
				<p style = "font-size : 12px"> Sure it is. The salary is fantastic here! </p>
			</div>
		</div>
	</div>
	<div style = "display: flex; width : 100%; flex-basis : 0" id='button'>
		<div style = "margin-left : 12%">
			<button style = "background-color: #0077B5; border: none; color: white; padding: 1px 10px;text-align: center;text-decoration: display: inline-block;font-size: 12px;" id = "mhlogin">Login Mahasiswa</button>
    	</div>
    	<div style = "margin-left : 60%">
			<script type="in/Login"></script>
		</div>
	</div>
</div>

{% endblock %}

