section{
  padding-top: 60px;

}

.card {
    margin-top: 1rem;
    padding: 2rem;
}

.flex-container {
    height: rem;
    padding: 1rem;
}

.btn-danger {
	position: absolute;
	top: 100px;
	right: 15px;
}