{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ling In">
    <meta name="author" content="Kelompok 6">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app_profile.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/app_profile.js' %}"></script>
    <title>
    {% block title %} Profile {{nama_perusahaan}} {% endblock %}
  </title>
</head>
<body>
  <header>
    {% include "app_profile/partials/header.html" %}
  </header>
  <content>
    {% block content %}
      <!-- content goes here -->
    {% endblock %}
  </content>
  {% block javascript %}
  {% endblock %}
</body>
<footer>
  {% block footer %}
  {% include "app_profile/partials/footer.html" %}
  {% endblock %}
</footer>
</html>