#corp-main-image {
  margin:0px auto;
  display:block;
}

#welcome-message {
  padding-top: 30px;
}

#logout-button {
  padding-top: 45px;
}

#corp-small-image {
  padding-top: 30px;
  max-height: 10%;
  max-width: 10%;
}

.isi {
  padding-left: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

body {
  background-color: #d6eaf8;
}

button {
  background-color: white;
}

table {
  align-self: center;
  font-size: 300%;
  size: 300%;
}